<div class="container">
    <div class="starter-template">
        <h1>BlogPinger</h1>
        <p class="lead">The app for kids who forget to blog good and wanna learn to do other stuff good too.</p>
        <a href="#/waitlist"
        <a href="#/waitlist" class="btn btn-primary btn-lg" role="button">Get it</a>


        <div class="row">
          <div class="col-md-4"><h2>Do the first thing</h2><p>The paragraph of content lorem ipsum</p></div>
          <div class="col-md-4"><h2>Do the second thing</h2><p>The paragraph of content lorem ipsum</p></div>
          <div class="col-md-4"><h2>And then the third</h2><p>The paragraph of content lorem ipsum</p></div>
        </div>

    </div>
</div>
