<div class="container">
    <div class="starter-template">
        <h1>BlogPinger</h1>
        <p class="lead">The app for kids who forget to blog good and wanna learn to do other stuff good too.</p>
        <a href="#/waitlist"
        <a href="#/waitlist" class="btn btn-primary btn-lg" role="button">Get it</a>


        <div class="row">
          <div class="col-md-4"><h2>Get a text prompt while you're out of class</h2><p>At a convenient time, you'll receive a text with a randomized writing prompt</p></div>
          <div class="col-md-4"><h2>Respond with your message</h2><p>Reply with your answer to the prompt, no more "blank page" feelings of dread!</p></div>
          <div class="col-md-4"><h2>Instant blog post via text!</h2><p>No fiddling with clunky blog setup! Run off and enjoy lunch! Use that gym membership that's collecting dust!</p></div>
        </div>

    </div>
</div>
