<form ng-submit="saveParty()" class="form-inline party-form">
    <div class="form-group">
        <label for="partyName">1. Enter Name</label>
        <input ng-model="newParty.name" type="text" class="form-control" id="partyName" placeholder="e.g. John Smith">
    </div>
    <div class="form-group">
        <label for="phoneNumber">2. Enter Phone Number</label>
        <input ng-model="newParty.phone" type="text" class="form-control" id="phoneNumber" placeholder="e.g. 555 555-5555">
    </div>
<!--     <div class="form-group">
        <label for="sizeOfParty">Size of Party</label>
        <input ng-model="newParty.size" type="text" class="form-control" id="sizeOfParty" placeholder="e.g. 3">
    </div> -->
    <button type="submit" class="btn btn-primary">3. Add person</button>
</form>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Done?</th>
            <th>Info</th>
            <th>Notified?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tr ng-repeat="party in parties | orderByPriority">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <div><strong>{{party.name}}</strong></div>
            <div>{{party.phone}}</div>
            <div>
                <!-- TODO: Add date created -->
            </div>
        </td>
        <td>
            <div>
                <!-- TODO: Add party.notified -->
            </div>
        </td>
        <td>
            <button ng-click="sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button>
            <button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>
            <!-- ng-repeat is angular feature that will repeat the html for each item in collection -->
            </td>
            ...And then navigate to the <a href = "https://faisalmks.wordpress.com/">Blog</a> to view your post! <p class = "smallText">(Posts may take up to 20 minutes to appear)</p>



</table>
